<div class="flex justify-center pt-20 pb-5 h-screen sm:ml-64 relative border border-red-700">
    <div class="max-h-full w-11/12 md:w-3/4">
        <form action="/dashboard/note/add-note" method="POST" class="shadow-2xl">
            <div class="w-full mb-4 border border-gray-200 rounded-lg bg-gray-50 dark:bg-gray-700 dark:border-gray-600">
                <div class="flex items-center justify-between border-b dark:border-gray-600">
                    <input name="title" type="text" id="first_name"
                        class="text-center bg-gray-200 text-gray-900 font-bold text-xl block w-full p-2.5 dark:bg-gray-700  dark:placeholder-gray-400 dark:text-white placeholder-gray-500"
                        placeholder="Title..." required>
                </div>
                <div
                    class="relative w-full h-[390px] bg-blue border border-gray-200 overflow-hidden my-0 mx-auto shadow-xl dark:bg-gray-800 dark:border-gray-700">
                    <div class="absolute top-0 right-0 bottom-0 left-0"
                        style="background: linear-gradient(transparent, transparent 28px, black 28px); background-size: 30px 30px;">
                        <textarea name="content" rows="" placeholder="Write here..."
                            class="w-full h-full max-h-full max-w-full leading-[30px] py-0 px-2 bg-transparent box-border border-none resize-none z-10"></textarea>
                    </div>
                </div>
            </div>
            <div class="flex flex-row justify-end my-3 absolute bottom-0 right-0">
                <button type="submit"
                    class="my-auto text-white bg-green-600 focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 shadow-lg shadow-green-500/50 dark:shadow-lg dark:shadow-green-800/80 font-medium rounded-lg text-sm px-3 py-1 text-center me-2 mb-2 ">
                    save
                </button>
            </div>
        </form>
    </div>
</div>